@charset "utf-8";
/* CSS Document */
body{ 
	margin: 0px;
	max-width: 1700px;
	width: 100%;
	background-color: #8A8987;
}
.maingaleria{ height: 39em;}
.mainindex{
	background-color: #060300;

}
header{

	background-color:#FFEF1B;
	padding-left:60px;
	padding-top: 10px;
	padding-bottom: 30px;
	height:30px;
}
main { 
	background-color:#8A8987;
	padding-bottom: 50px;
}

nav ul li{
	list-style: none;
	font-weight: bold;
	color: #373734;
	display: inline;
	font-family: consolas;
	font-size: 1.2em; 
	border-style: dashed;
	border-color:#373734;
	margin: 10px;
	padding: 0.4em;
	padding-left: 0.9em;
	
}
section{margin: 0px;
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	color:whitesmoke;
	font-family: Consolas;
	font-weight: bolder;
	font-size: 7em;
	background-color:#060300;
	padding-left: 100px;
	padding-top: 200px;
	margin: 0px;
	margin-bottom: 0px;
	max-width: 1700px;
	
	}
h2  {
	font-family: consolas;
	font-weight:bolder;
	color:#FFEF1B;
	font-size: 2em;
	position: relative
	}
h3 {
	font-family: Consolas;
	font-size: 1.6em;
}
h4 {
	font-family: Consolas;
	color: #373734;
	font-size: 1.8em;
}
h5{
	font-family: Consolas;
	font-size: 1.8em;
	color: #FFEF1B;
	padding-right: 50px;
	padding-left: 50px;
}
p {
	font-family: arial;
}
li{
	font-family: arial;
	list-style: none;
}
img{ 	padding-top: 50px;
		padding-left: 20px;
		display: flex;
}
footer {
		font-family:Consolas;
		font-size:1em;
		background-color:  #FFEF1B;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 100px;
}
a {   
	text-decoration: none;
	color: #373734;
	
}

aside {
	margin-left: 100px;
	margin-right: 100px;
	height:600px;
	background-color:#373734;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-top: 50px;
}
ol li{ 
	color: whitesmoke;
	font-size: 15pt;}
p {
	font-family: arial;
	font-size: 1.3em;
	font-weight: 500;
}

#sec1{ 
		display: flex;
	
}
#sec2 { 
		display:flex;
	
}
.caja {
	width:15%;
	height:10%;
	margin-top:30px;
	margin-right: 100px;
	background-color:#FFEF1B;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 50px;
	border-width: 2px;
	border:2px;
	border-style: dashed;
	border-color:#373734;
	color:#373734;
	font-family:Consolas;
	font-weight:bold;

	}
#bienvenidxs {
	color:#FFEF1B;
	font-family: Arial;
	font-size:3em;
	margin-top:0px;
	padding-top: 0px;
	padding-left: 100px;
	padding-bottom: 150px;
	background-color:black;
	
	}
h1 span {
	position: absolute;
	right: 0;
	background-color: black;
	border-left: 1px solid whitesmoke;
	animation-name: hola;
	animation-duration: 5s;
	animation-direction: alternate;	
  	animation-iteration-count: infinite;
	transition-timing-function: steps(21)
		
}
@keyframes hola {
	from { width: 95%}
	to{ width: 15%}
}
h2 span {
	position: absolute;
	right: 0;
	background-color: black;
	animation-name: bienvenidxs;
	animation-duration: 5s;
	animation-direction: alternate;	
  	animation-iteration-count: 1;
	transition-timing-function: steps(11)
		
}
@keyframes bienvenidxs {
	from { width: 95%}
	to{ width: 75%}
}
.bio {
	color: whitesmoke;
	font-weight: lighter;
	font-size: 1.6em;
	padding-top: 15px;
	padding-left: 30px;

}
.titulo-bio{
	max-width: 1000px;
	width: 80%;
	font-size: 3em;
	padding-right: 100px;
}
#aside1 {
	display: flex;
	align-items: baseline;
	
}
#aside2 {		
	padding-bottom: 50px;
	display: flex;
	
}

.art1 {
	margin-top: 0px;
	padding-bottom: 100px;
	padding-top: 80px;
	background-color:#8A8987;
	background-position: center;
	display: flex;
}
.art2 { padding-left: 100px;
	width:50%;
	flex-grow: 5;}
.historial {padding-top: 50px;
	margin-left: 35%;
	margin-bottom: 100px;}
#contacto {
	background-color:#FFEF1B;
	padding-bottom: 20px;
	padding-top:20px;
	display:flex;
	align-content: center;
}
.charlemos {
	font-size:3em;
	padding-left: 200px;
}
.email{
	padding-left: 100px;
	font-size: 1.6em;
	font-family: consolas;
	font-weight: 600;
}
.link{
	font-size: 0.8em																														;
	width: 100%;
	color:#FFEF1B;
    border: 2px;
	border-style:dashed;
	border-color:#FFEF1B;
	padding: 10px;
}
.cards {
		display: flex;
		align-items: center;
}
.card{	
		height: 20em;
		width: 20em;
		background-color:#000C; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-content: center;
		padding: 1em;
		margin: 1em;
		margin-bottom: 3em;
}
.galeriaimg{
		width:200px;
		height: 300px;
		border: 2px;
		border-style: dashed;
		border-color: #FFEF1B;
		padding:0.8em;
}
.formulario{
		background-color:#FACF00;
		height: 60em;
		width: 100%;
		justify-content: space-around;
		align-content: center;
		display: flex;
		flex-direction: column;
}
form{
	display: flex;
	flex-direction: column;
	align-content: center;
}
.form{	
		margin-top: 5em;
		margin-bottom: 5em;
		margin-left: 30%;
		padding-top:2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50em;
		width: 40em; 
		border-style: dashed;
		border-color:  #FFEF1B
}
.contactate {
		text-align: center;
		color: #FFE9F6;
}
input{
		margin: 0.5em;
		height: 3.5em;
		width:30em;
		background-color:#373734;
		font-size: 1em;
		font-weight: 500;
		color: whitesmoke;
		border-style: dashed;
		border-color:  #FFEF1B;
		padding-left: 2em;

}
#Mensaje {
		height:20em;
}
#enviar{
		padding: 0;
		margin-left: 10em;
		margin-bottom: 4em;
		width: 12em;
}
.h3index{color: whitesmoke;
		font-size: 4em;}










@media screen and (max-width: 600px) {
	
	nav ul li {
		display: flex;
		
	}
	header{
		padding-left: 0px;
		padding-right: 50px;
		height: 50%;
						
		
	}
	h1{
		font-size: 4em;
		padding-left: 70px;
		padding-right: 30px;
		padding-top: 100px;
	}
	h2{
		
	}
	
	.bienvenidxs {
		font-size: 2em;
		padding-left: 70px;
		padding-bottom: 100px;
		
	}
	.titulo-bio {
		padding-right:0px;
		padding-left: 30px;
	}
	.bio {
		font-size: 1.4em;
	}
	h2,.titulo-bio,.charlemos{
		font-size: 3em;
	}
	section {
		padding-left:30px;
		padding-right: 30px;
		align-items: center;
	}
	#sec2 { 
	display:flex;
	flex-direction: column;}
	.caja {
		margin:6%;
		height: 50%;
		width: 80%;
		padding-right: 20px;
		padding-left: 30px;
	}
	#sec1 { 
	display:flex;
	flex-direction: column-reverse;
	}
	.art1{
		flex-direction: column;
		width: 90%;
	}
	.historial {
		margin-left: 30px;
		padding-top:0px;
	}
	.art2{ 
		padding-left: 30px;
		width: 90%
	}
	#contacto{
		flex-direction: column;
		align-content:flex-start;
	}
	aside{ width: 80%;
		margin: 10%;
		height: 25%;
		padding: 0px;
	
	}
	#aside1,#aside2 {
		flex-direction: column;
			align-items:center;
		
	}
	
	img {
		padding-top:10px;
		width: 100%;
		height: 100%;
	}
	.link {margin: 30px;
		font-size: 0.6em;

		
	}
	.charlemos,.email{
		padding-left: 0px;
		text-align: center;
	}
.email{ font-family: consolas;
		font-weight: 550;
		font-size: 1.5em;

	}
	footer{
		padding-left: 50px;
	}
	h5{
		padding: 0px;
	}

}